# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# IDE
*.idea/
*.vscode/
